[data-theme="amber"] {
  --bg0: #14110d;
  --bg1: #1b1712;
  --bg2: #241d15;
  --bg3: #2d2419;
  --bg4: #392d20;
  --accent: #f4b860;
  --accent2: #ff7d57;
  --red: #ff6b6b;
  --yellow: #ffd166;
  --blue: #7bc8f6;
  --text0: #fff5df;
  --text1: #d0bea5;
  --text2: #816f57;
  --border: #ffffff12;
  --border2: #ffffff1d;
}
